<p id="notice"><%= notice %></p>
<div class="panel panel-default">
<div class="panel-heading">
<h1>Lista pinów</h1>
</div>
<div class="panel-body">
<table>
  <thead>
    <tr>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        
        <td><%= pin.description %></td>
        <td><%= link_to 'Zobacz', pin, class: 'breadcrumb-item' %>/</td>
        <td><%= link_to 'Edytuj', edit_pin_path(pin), class: 'breadcrumb-item' %>/</td>
        <td><%= link_to 'Usuń', pin, class: 'breadcrumb-item',  method: :delete, data: { confirm: 'Czy na pewno chcesz to zrobić?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<div class="panel-footer">
<%= link_to 'Nowy pin', new_pin_path %>
</div>
</div>

